#jumbo{    
    background-image: url(https://images.pexels.com/photos/159643/laptop-ipad-organic-natural-159643.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    
    opacity: 0.8;
}

#jumbo:hover{
    opacity: 1;   
}

img{
    opacity: 1;
}

img:hover{
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}